.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App section {
  display: flex;
  margin: 1em;
  justify-content: space-between;
}

.nav-tabs {
  margin-right: 3.5vw;
  margin-left: 1vw;
}

.columnContainer {
  min-width: 40vw;
  width: 100%;
}

.mealCard, .recipeCard {
  margin: .4em;
}

.mealCard {
  min-width: 420px;
}

.card-body {
  align-items: center;
}

.card-body > img {
  max-width: 360px;
}

.new-ideas {
  display: flex;
  width: 90%;
}

.new-ideas > input {
  margin-right: .25em;
}

#recipe {
  margin-top: 40px;
}

.ingredient-item {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.ingredient-item > img {
  max-height: 100px;
  margin-right: .5em;
}

@media screen and (max-width: 915px) {
  .App section {
    display: block;
  }
}