.App {
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
}

.App-link {
  color: #61dafb;
}

.App section {
  display: flex;
  margin: 1em;
  justify-content: space-between;
}

nav > h1 {
  color: #1e282f;
  font-size: 42px;
  font-family: Georgia;
  font-weight: 400;
  font-style: italic;
}

nav > p {
  font-size: 19px;
  color: #735a34;
  font-family: Average,serif;
}

.nav-tabs {
  margin-right: 3.5vw;
  font-weight: 400
}

.columnContainer {
  min-width: 40vw;
  width: 100%;
}

.card-body, .recipeCardContainer {
  margin: .4em;
}

#recipeCard {
  background-color: cornsilk;
}

.mealCard {
  min-width: 420px;
}

.mealCard > .card-body {
  background-color: cornsilk;
}

.mealCard > .card-body:hover {
  box-shadow: 0 2px 4px 0px #424040;
}

.card-body {
  align-items: center;
}

.card-title {
  color: forestgreen;
  font-weight: 700;
}

.card-body > img {
  max-width: 360px;
  border-radius: 8px;
}

.card-body > div {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  min-width: 350px;
}

.card-body > div > .btn, a > .btn, .card-body > button {
  font-weight: 600;
}

.card-body > form {
  width: 90%
}

.new-ideas {
  display: flex;
  width: 100%;
}

.new-ideas > input {
  margin-right: .25em;
}

.new-ideas > button {
  background-color: #824900;
  color: white;
  font-weight: 600;
}

#recipe {
  margin-top: 40px;
}

.ingredient-item {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.ingredient-item > img {
  max-height: 100px;
  margin-right: .5em;
}

#search {
  background-color: #cd5c5cd9;
}

@media screen and (max-width: 940px) {
  .App section {
    display: block;
  }
}